
.section {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section h2 {
    font-size: 10em;
    color: #273F4F;
}

.section p {
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0 20px 0;
}

.link {
    background-color: #FE7743;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
}
